*{
    margin: 0%;
    padding: 0%;
}

body{
    background-image: url(../Fitcampus/Images/BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.frontpage{
    display: flex;

}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #b4ac00;
}

.menu{
    width: 320px;
    height: 100vh;
    /* border: ; */
    border-radius: 4px;
    border-color: black;
    padding-top: 20px;
    padding-left: 40px;
    background-color: rgb(88, 87, 87);
    opacity: 0.4;
    /* z-index: 3; */
}

.frontitems{
    margin-top: 20px;
    margin-left: 10px;
    z-index: 6;
}

h1.name{
    font-size: 40px;
    font-family: 'Comic Neue', cursive;
    text-align: center;
    margin-top: 20px;
    margin-left: -73px;
    padding-bottom: 20px;
    padding-top: 40px;
    z-index: 6;
}

.frontitems-but{
    background-color: black;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
    width: 250px;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.frontitems-but:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
}

.fronthead{
    /* background-color: black; */
    width: 100%;
    color: white;
    /* text-align: center; */
}

.right-home{
    display: flex;
    flex-direction: column;
}

.name-cont{
    margin-top: 70px;
    font-family: 'Comic Neue', cursive;
    font-size: 50px;
    margin-left: 148px;
    margin-bottom: 40px;
}

.frontcontents{
    display: flex;
    margin-top: 70px;
    justify-content: center;
    height: 100%;
    width: 100%;
}

h2.name-cont{
    margin-top: 20px;
    font-family: 'Comic Neue', cursive;
    font-size: 30px;
}

h2.name-cont-review{
    margin-left: 148px;
    margin-bottom: 2px;
    font-size: 40px;
    font-family: 'Comic Neue', cursive;
}

.login-button{
    margin-top: 40px;
    row-gap: 10px;
}

.login{
    font-size: 20px;
    padding: 10px 50px 10px 50px;
    margin-right: 10px;
    cursor: pointer;
}

.google-login{
    font-size: 20px;
    padding: 10px 50px 10px 50px;
    margin-left: 10px;
    cursor: pointer;
} 

.homepage{
    display: flex;
    background-image: url(../Fitcampus/Images/BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome{
    width: 700px;
    /* background-color: black; */
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
}

h1.wecome{
    font-size: 60px;
    /* text-align: center; */
    padding-left: 50px;
    font-family: 'Glory', sans-serif;
    opacity: 0.7;
}

h2.wecome{
    padding-top: 40px;
    font-size: 30px;
    padding-left: 100px;
    /* text-align: center; */
    font-family: 'Glory', sans-serif;
}

.wecome-fit{
    color: #af855f;
    font-size: 60px;
    /* margin-left: 30px; */
    padding-left: 50px;
    padding-top: 5px;
    font-family: 'Glory', sans-serif;
}

.second-half{
    width: 100%;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
    border-radius: 20px;
    opacity: 0.5;
    height: 400px;
    width: 600px;
}

.login{
    font-size: 50px;
    padding-bottom: 40px;
    font-family: 'Comic Neue', cursive;
    font-weight: bold;
}

.login-inputdet{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 40px;
    font-size: 20px;
    /* z-index: 10; */
}

.login-input{
    padding: 5px 10px 5px 10px;
    margin-bottom: 20px;
    width: 400px;
}

.sign-in{
    cursor: pointer;
    padding: 5px;
    font-size: 20px;
    background-color: #af855f;
    color: white;
    width: 90px;
    border-radius: 8px;
    margin-right: 185px;
    z-index: 2;
}

.forget{
    text-align: end;
    padding-top: 5px;
    font-size: 20px;
    z-index: 10;
    color: black;
}

.sign-forget{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 16px;
}

.right-timings{
    color: white;
}

h1.time{
    margin-top: 90px;
    margin-left: 45px;
    font-family: 'Comic Neue', cursive;
}

h1.slot{
    margin-top: 30px;
    margin-left: 45px;
    font-family: 'Comic Neue', cursive;
}

.protein{
    margin-left: 115px;
    margin-right: 20px;
    height: 252px;
    width: 307px;
    background-color: white;
    font-size: 30px;
    font-family: 'Comic Neue', cursive;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    background-color: rgb(147, 146, 146);
    opacity: 0.6;
    border-radius: 25px;
}

.workout{
    margin-left: 115px;
    margin-right: 20px;
    height: 252px;
    width: 330px;
    background-color: white;
    font-size: 30px;
    font-family: 'Comic Neue', cursive;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    background-color: rgb(147, 146, 146);
    opacity: 0.6;
    border-radius: 25px;
}

#supp{
    margin-top: 98px;
    margin-left: 114px;
    width: 96px;
    height: 29px;
}

#supple{
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.forget-lol{
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
    font-family: 'Comic Neue', cursive;
    color: whitesmoke;
}

p.mail{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    font-family: 'Comic Neue', cursive;
    color: whitesmoke;
}

.details{
    text-align: center;
    margin-top: 20px;
}

.OTP{
    padding: 7px;
    margin-left: 10px;
    background-color: grey;
    border-radius: 4px;
}

.mail-forget{
    width: 380px;
    height: 28px;
    padding-left: 5px;
    border-radius: 4px;
}

p.login-para{
    margin-top: -18px;
    font-size: 15px;
    margin-bottom: 15px;
}

p.login-pass{
    margin-top: -18px;
    font-size: 15px;
    margin-bottom: 22px;
}

.slot-table{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    font-size: 20px;
    text-align: center;
    border: none;
}